<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!--Link a CSS-->
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="agregar">
        <h1 >Agregar un libro</h1>
    <form   id="form-agregar">
        <input id="titulo" name="titulo" type="text" placeholder="Agregar un titulo">
        <input id="imagen" name="imagen" type="text" placeholder="Agregar una imagen">

        <input id="autor-uno" name="autor1" type="text" placeholder="Agregar autor 1">
        <input id="autor-dos" name="autor2" type="text" placeholder="Agregar autor 2">
        <input id="autor-tres" name="autor3" type="text" placeholder="Agregar autor 3">

        <input id="editorial" name="editorial" type="text" placeholder="Agregar editorial">
        <input id="descripcion" name="descripcion" type="text" placeholder="Agregar descripcion">

        <button  class="btn-agregar" type="submit"><i class="fas fa-book"></i>  Agregar libro</button>
    </form>
    </div>

    <script src="agregar.js"></script>
</body>
</html>

<!-- LINK DE IMAGEN PARA AGREGAR EN INPUT IMAGEN -->

<!-- https://static.vecteezy.com/system/resources/previews/005/377/487/non_2x/cartoon-doodle-book-isolated-on-white-background-education-hand-drawn-icon-free-vector.jpg -->